<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dreamport.service.mapper.UserMapper">
    <sql id="userTable">t_user</sql>

    <!-- 获取用户列表 -->
    <select id="selectUserList" parameterType="com.dreamport.bo.UserBO" resultType="com.dreamport.domain.User">
        select * from
        <include refid="userTable"/>
        <where>
            <if test="username != null">
                AND username LIKE CONCAT('%',#{username},'%')
            </if>
            <if test="realName != null">
                AND real_name LIKE CONCAT('%',#{realName},'%')
            </if>
            <if test="mobilePhone != null">
                AND mobile_phone LIKE CONCAT('%',#{mobilePhone},'%')
            </if>
            AND state=1
        </where>
    </select>
</mapper>